!.gitignore
excel
storage
file-rekomendasi
file-persetujuan
file-pengajuan
file-ttd
dokumen-nota-rekomendasi
dokumen-pendukung-pasdin
customer-file
qr-code
pefindo
dokumen-nota-rekomendasi
consent-npwp
file-selection-partner
dokumen-kelengkapan-partner
dokumen-kelengkapan-partner/*
dokumen-penentuan-kso
dokumen-penentuan-project-greenlane
file-profile-risiko
file-project-selection
file-nota-rekomendasi-2
/file-nota-rekomendasi-2/*
dokumen-perjanjian-alat
dokumen-pendukung-pasdin
file-kelengkapan-partner
file-kelengkapan-project
dokumen-other-proyek
dokumen-s-curves
dokumen-cv-personel
dokumen-cv-personel/*
contract-managements/*
file-kriteria-pengguna-jasa
dokumen-persetujuan-kso
file-knowladge-base/*